.admin-container {
  width: 100%;
  height: 100%;
  padding: 5rem;
  color: black;
  text-align: center; }
  .admin-container a {
    color: #04080a; }


.footer {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background: #04080a;
  color: #e6e6e6;
  text-align: center; }

.navbar {
  background: #04080a;
  color: #e6e6e6;
  z-index: 5; }
  .navbar .signin-out {
    color: #e6e6e6;
    float: left;
    line-height: 3rem;
    padding-left: 1rem; }
  .navbar ul {
    text-align: right;
    margin: 0 5% 0 0; }
    .navbar ul a {
      color: #e6e6e6; }
      .navbar ul a li {
        height: 3rem;
        line-height: 3rem;
        font-size: 1.5em;
        display: inline-block;
        padding: 0 2.5%; }

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  box-sizing: border-box;
  margin: 0; }

html, body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e3e7eb; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -3rem; }

.page-wrap:after {
  content: "";
  display: block;
  height: 3rem; }

.front-page-main-content {
  position: absolute;
  top: 3rem;
  bottom: 3rem;
  left: 0;
  padding: 2rem;
  width: 100%; }
  .front-page-main-content .scroll-box-container {
    overflow-y: scroll;
    display: inline-block;
    width: 50%;
    height: 100%;
    background: blue; }
    .front-page-main-content .scroll-box-container .main-content-scroll-box {
      height: 100%; }
  .front-page-main-content .main-content-map {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
    background: red; }

.listing-elem {
  width: 100%;
  height: 150px;
  border: solid 1px black;
  background: white; }

body {
  font-family: 'Lato', sans-serif; }
