<!-- header partial -->

    <!-- Sticky Footer Start (end in footer partial) -->
    <div class="page-wrap">

        <!-- navigation bar -->
        <nav class="navbar">
            <a class="signin-out" href="<%= admin ? '/logout' : '' %>">
                <%= admin ? 'logout' : '' %>
            </a>
            <ul>
                <a href="/"><li>home</li></a>
                <a href="#"><li>properties</li></a>
                <a href="#"><li>sell your home</li></a>
                <a href="#"><li>about</li></a>
                <a href="#"><li>contact us</li></a>
            </ul>
        </nav>
