
<!DOCTYPE html>
<!--
    author:         Brent Hamilton (2015)
    checkit:        https://github.com/distrill
-->
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
    <title>Coming Soon Homes</title>
</head>

<body>
    <% include header %>
