@import "defs";

.navbar {
    background: $black;
    color: $white;
    z-index: 5;
    .signin-out {
        color: $white;
        float: left;
        line-height: 3rem;
        padding-left: 1rem;
    }
    ul {
        text-align: right;
        margin: 0 5% 0 0;
        a {
            color: $white;
            li {
                height: 3rem;
                line-height: 3rem;
                font-size: 1.5em;
                display: inline-block;
                padding: 0 2.5%;
            }
        }
    }
}
