@import "defs";

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    font-family: $font-fam;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $bg-color;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -3rem;
}

.page-wrap:after {
    content: "";
    display: block;
    height: 3rem;
}

.front-page-main-content {
    position: absolute;
    top: 3rem;
    bottom: 3rem;
    left: 0;
    padding: 2rem;
    width: 100%;
    // height: 100%;
    .main-content-map {
        display: inline-block;
        float: left;
        width: 50%;
        height: 100%;
        background: red;
    }
    .scroll-box-container {
        overflow-y: scroll;
        display: inline-block;
        width: 50%;
        height: 100%;
        background: blue;
        .main-content-scroll-box {;
            height: 100%;
        }
    }
}
.listing-elem {
     width: 100%;
     height: 150px;
     border:solid 1px black;
     background:white;
}
