@import "defs";

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    font-family: $font-fam;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $bg-color;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -3rem;
}

.page-wrap:after {
    content: "";
    display: block;
    height: 3rem;
}

.front-page-main-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5rem 2rem;
    width: 100%;
    height: 100%;
    .main-content-scroll-box {
        overflow-y: scroll;
        display: inline-block;
        width: 30%;
        height: 100%;
        background: blue;
    }
    .main-content-map {
        display: inline-block;
        float: right;
        width: 70%;
        height: 100%;
        background: red;
    }
}
.listing-elem {
     width: 100%;
     height: 40%;
     border:solid 1px black;
     background:white;
}
