<% include partials/head %>

        <div class="admin-container">
            <a href="/newListing">New Listing</a><br><br>
            <br><br>Edit Pages: <br><br>
            <a href="#">about us</a><br>
            <a href="#">contact us</a>
        </div>

<% include partials/footer %>
