<% include partials/head %>

        <!-- main content, scroll options and map -->
        <div class="front-page-main-content">

            <!-- scroll content, left side -->
            <div class="scroll-box-container">
                <div class="main-content-scroll-box">
                    <% for (var i in listings) {%>
                        <a href="/listing/<%= listings[i]._id %>">
                            <div class="listing-elem" style="color:black;">
                                <%= listings[i]._id %><br>
                            </div>
                        </a>
                    <% } %>
                </div>
            </div>

            <!-- map content, right side -->
            <div class="main-content-map">
                main content map
            </div>

        </div>  <!-- end main content -->

<% include partials/footer %>
