<!DOCTYPE html>
<!--
    author:         Brent Hamilton (2015)
    checkit:        https://github.com/distrill
-->
<html>
    <% include partials/head %>
<body>

    <% include partials/header %>

    <!-- main content, scroll options and map -->
    <div class="front-page-main-content">

        <!-- scroll content, left side -->
        <div class="main-content-scroll-box">
            <% for (var i=0; i<6; i++) {%>
                <div class="listing-elem"></div>
            <% } %>
        </div>

        <!-- map content, right side -->
        <div class="main-content-map">
            main content map
        </div>

    </div>  <!-- end main content -->

    <% include partials/footer %>

</body>
</html>
