<% include partials/head %>

        <!-- main content, scroll options and map -->
        <div class="front-page-main-content">

            <!-- scroll content, left side -->
            <div class="main-content-scroll-box">
                <% for (var i in listings) {%>
                    <div class="listing-elem" style="color:black;">
                        <%= listings[i]._id %><br>
                        <a href="/singleListing/<%= listings[i]._id %>">see more</a>
                    </div>
                <% } %>
            </div>

            <!-- map content, right side -->
            <div class="main-content-map">
                main content map
            </div>

        </div>  <!-- end main content -->

<% include partials/footer %>
