<% include partials/head %>

        <!-- main content, scroll options and map -->
        <div class="front-page-main-content">

            <!-- scroll content, left side -->
            <div class="scroll-box-container">
                <div class="main-content-scroll-box">
                    <% for (var i in listings) {%>
                        <a href="/listing/<%= listings[i]._id %>">
                            <div class="listing-elem" style="color:black;">
                                <%= listings[i].title %><br>
                            </div>
                        </a>
                    <% } %>
                </div>
            </div>

            <!-- map content, right side -->
            <div id="main-content-map" class="main-content-map">
                <%# main content map%>
            </div>

        </div>  <!-- end main content -->
        <script type="text/javascript">
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('main-content-map'), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 8
                });
            }
        </script>

        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD6z7VYj8sadyJN_59d4ul6ztbynS4n2E&callback=initMap">
        </script>

<% include partials/footer %>
