<!DOCTYPE html>
<!--
    author:         Brent Hamilton (2015)
    checkit:        https://github.com/distrill
-->
<html>
    <% include partials/head %>
<body>

    <% include partials/header %>

    <!-- main 'above the fold' content, scroll options and map -->
    <div class="front-page-main-content">

        <!-- scroll content, left side -->
        <div class="main-content-scroll-box">
            main content scroll box
        </div>

        <!-- map content, right side -->
        <div class="main-content-map">
            main content map
        </div>

    </div>  <!-- above the fold content -->

    <!-- main 'below the fold' content, browse houses -->
    <div class="front-page-browse">

        <!-- sample house listings SINGLE ROW -->
        <div class="browse-elem-row">
            <!-- sample house listings, will be dynamic in production -->
            <div class="browse-elem">
                front page browse / browse elem
            </div>

            <div class="browse-elem">
                front page browse / browse elem
            </div>

            <div class="browse-elem">
                front page browse / browse elem
            </div>

            <div class="browse-elem">
                front page browse / browse elem
            </div>
        </div> <!-- end below the fold content -->

        <!-- sample house listings SINGLE ROW -->
        <div class="browse-elem-row">
            <!-- sample house listings, will be dynamic in production -->
            <div class="browse-elem">
                front page browse / browse elem
            </div>

            <div class="browse-elem">
                front page browse / browse elem
            </div>

            <div class="browse-elem">
                front page browse / browse elem
            </div>

            <div class="browse-elem">
                front page browse / browse elem
            </div>
        </div> <!-- end below the fold content -->

    </div> <!-- end front page browse -->

    <% include partials/footer %>

</body>
</html>
