<% include partials/head %>

        <!-- main content, scroll options and map -->
        <div class="front-page-main-content">

            <!-- map content, left side -->
            <div id="main-content-map" class="main-content-map">
                <%# main content map%>S

            </div>

            <!-- scroll content, right side -->
            <div class="scroll-box-container">
                <div class="main-content-scroll-box">
                    <% for (var i in listings) {%>
                        <a href="/listing/<%= listings[i]._id %>">
                            <div class="listing-elem" style="color:black;">
                                <%= listings[i].title %><br>
                            </div>
                        </a>
                    <% } %>
                </div>
            </div>

        </div>  <!-- end main content -->

        <script type="text/javascript"
            src="/js/index.js">
        </script>
        <script>
            console.log(<%= listings %>);
        </script>
        <script>
            console.log('this is the ' + <%= listings %>);
        </script>
        <!-- <% console.log('thiss is the hook'); %> -->
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD6z7VYj8sadyJN_59d4ul6ztbynS4n2E&callback=initMap">
        </script>

<% include partials/footer %>
