<!DOCTYPE html>
<!--
    author:         Brent Hamilton (2015)
    checkit:        https://github.com/distrill
-->
<html>
<head>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css">
    <title>Coming Soon Homes</title>
</head>
<body>

    <!-- navigation bar, probably move to 'nav' template -->
    <nav class="navbar">
        <ul>
            <a href="#"><li>home</li></a>
            <a href="#"><li>properties</li></a>
            <a href="#"><li>sell your home</li></a>
            <a href="#"><li>about</li></a>
            <a href="#"><li>contact us</li></a>
        </ul>
    </nav> <!-- end navigation bar -->

    <!-- main 'above the fold' content, scroll options and map -->
    <div class="front-page-main-content">

        <!-- scroll content, left side -->
        <div class="main-content-scroll-box">
            main content scroll box
        </div>

        <!-- map content, right side -->
        <div class="main-content-map">
            main content map
        </div>

    </div>  <!-- above the fold content -->

    <!-- main 'below the fold' content, browse houses -->
    <div class="front-page-browse">

        <!-- sample house listings SINGLE ROW -->
        <div class="browse-elem-row">
            <!-- sample house listings, will be dynamic in production -->
            <div class="browse-elem">
                front page browse / browse elem
            </div>

            <div class="browse-elem">
                front page browse / browse elem
            </div>

            <div class="browse-elem">
                front page browse / browse elem
            </div>

            <div class="browse-elem">
                front page browse / browse elem
            </div>
        </div> <!-- end below the fold content -->

        <!-- sample house listings SINGLE ROW -->
        <div class="browse-elem-row">
            <!-- sample house listings, will be dynamic in production -->
            <div class="browse-elem">
                front page browse / browse elem
            </div>

            <div class="browse-elem">
                front page browse / browse elem
            </div>

            <div class="browse-elem">
                front page browse / browse elem
            </div>

            <div class="browse-elem">
                front page browse / browse elem
            </div>
        </div> <!-- end below the fold content -->

    </div> <!-- end front page browse -->

    <div class="footer">
        Vantage West Realty | Looking Glass Design
    </div>

</body>
</html>
